body{
	background-color: #000000;
	font-family: 'Noto Sans', sans-serif;
}
header{
    width: 100%;
	background-color: #9e8daa;
	text-align: center;
}
footer{
	padding-bottom: 20px;
	padding-top:20px;
	background-color: #ce2c2c;
	text-align: left;
	color: #fdfdff;
	font-size: 150%;
}
img {
  margin: 10px;
}

.main {
  background-color:#9e8daa;
  max-width: 1600px;
  margin: 20px auto;
  padding: 30px 50px 10px 50px;
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  img {
    margin: 3px;
  }
  .main {
    padding: 30px 30px 10px 30px;
    border-radius: 0;
  }
}
